.search__field
{
    width: 50%;
    border: 1px sold red;    
}
.search__box
{
    text-align: center;
    padding-bottom: 25px;
}
.search__record
{
    margin-top: 8px;
    margin: 2%;
}
.search__contactsList
{
  margin-top: 25px;  
  margin: 10px;
}